
:root {}
:root {}
/* Code
--------------------------------------------- */
.wp-block-code code {
	overflow-x:  auto !important;
}
.wp-block-code code {
	word-wrap: normal;
	white-space: pre;
}
*:not(.wp-block-code) > code {
	background-color: var(--wp--preset--color--base-2);
	padding: 0.5rem 0.75rem;
}
.is-style-contrast-code,
.editor-styles-wrapper .wp-block-code.is-style-contrast-code {
	background-color: var(--wp--preset--color--contrast-3);
	color: var(--wp--preset--color--base-0);
}

