


:root{}
/* Quote
--------------------------------------------- */


figure.wp-block-pullquote{
    position: relative;
}


figure.wp-block-pullquote cite {
		opacity: 0.7;
	}


figure.wp-block-pullquote:after {
    top: -2px; 
    left: 50%;
    transform: translate(-50%,-50%);
}


figure.wp-block-pullquote::after {
        content: '"';
        position: absolute;
        font-weight: bold;
        font-size: 60px;
        line-height: 1;    
        width: 60px;
        height: 30px;
        color: var(--wp--preset--color--accent);
        background-color: var(--wp--preset--color--base-0);
    }
