<!-- wp:template-part {"slug":"header","theme":"noon","tagName":"header","className":"site-header"} /-->
<!-- wp:pattern {"slug":"noon/page-title-archive"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"var:preset|spacing|xx-large","bottom":"var:preset|spacing|xx-large"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:0;padding-top:var(--wp--preset--spacing--xx-large);padding-bottom:var(--wp--preset--spacing--xx-large)"><!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|medium"},"blockGap":"10px"}}} -->
<div class="wp-block-group alignwide" style="margin-bottom:var(--wp--preset--spacing--medium)"><!-- wp:term-description /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"query-default","theme":"noon","align":"wide"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"noon","tagName":"footer","className":"site-footer"} /-->