<!-- wp:template-part {"slug":"header","theme":"noon","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"}}},"className":"site-content","layout":{"type":"constrained"}} -->
<main class="wp-block-group site-content" style="margin-top:0"><!-- wp:template-part {"slug":"query-default","theme":"noon","align":"wide"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"noon","tagName":"footer","className":"site-footer"} /-->