<!-- wp:template-part {"slug":"header","theme":"noon","tagName":"header","className":"site-header"} /-->
<!-- wp:pattern {"slug":"noon/page-title"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0"},"className":"site-content"} -->
<main class="wp-block-group site-content" style="margin-top:0;">
	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->