/* Calendar
--------------------------------------------- */

.wp-block-calendar {
	table {
		caption,
		tbody {
			color: var(--wp--preset--color--contrast-3);
		}

		th {
			background-color: var(--wp--preset--color--contrast-3);
			color: var(--wp--preset--color--base-0);
		}
	}

	tbody td,
	th {
		border: 1px solid var(--wp--preset--color--contrast-3);
		padding: 10px;
	}
}
